/* Declare variables ----------------- */

:root {
  --dark: hsl(20, 7%, 65%);
  --darker: hsl(20, 7%, 35%);
  --light: hsl(20, 7%, 85%);
  --bggrey: #eee;
  --highlight: #fff;

  --stripeGrad: linear-gradient(-90deg, black 0%, var(--darker) 40%, var(--darker) 60%, var(--dark) 90%, black 100%);
  --StripeSize: 10px 20px;
}


/* Common ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

/* Tags ----------------- */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--light) 70%, var(--darker) 100%);
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

h2 {
  margin: 20px;
}

p {
  margin: 5px 0;
}

/* Classes ----------------- */
/* .wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--darkest);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
} */


.btn {
  /* border: none; */
  /* background-color: hsl(360, 91%, 36%); */
  background-image: linear-gradient(var(--darker) 0%,
      var(--dark) 40%,
      var(--dark) 60%,
      var(--darker) 100%);
  border: 2px solid var(--darker);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: var(--highlight);
  /* hsl(0, 0%, 100%);*/
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
}

.btn:hover {
  background-image: linear-gradient(var(--darker) 10%,
      var(--dark) 35%,
      var(--dark) 55%,
      var(--darker) 90%);
}

.btn:active {
  background-image: linear-gradient(135deg, var(--dark) 0%, var(--darker) 25%);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}



.float-right {
  float: right;
}

/* IDs */

/* This resets the screens to disappear */
#screens div {
  /* display:none; */
  background-color: var(--highlight);
  width: 90%;
  padding: 10px;
  margin: auto;
}

#header-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-image: var(--stripeGrad);
  background-size: var(--StripeSize);
}

#header-nav {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  background-color: var(--darker);
}

#header-div h1 {
  /* display: flex; */
  /* justify-content: left; */
  background-color: black;
  /* border-radius: 10px; */
  padding: 10px 30px;
  margin: 5px;

  color: var(--highlight);
  font-size: 1.5rem;
}

/* #header-nav,  */
#header-nav button {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 3px;
  background-color: var(--darker);
}

#settings-form * {
  text-align: left;
}

/* #settings-checkbox +{
  text-align: left;
  text-justify: center;
} */

/* Question screen */
#question-screen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  box-sizing: content-box;
}

#question-screen h3,
#question-screen p {
  text-align: left;
}

#question-screen #course {
  color: var(--highlight);
  background-color: var(--darker);
  font-size: 10px;
  text-align: right;
  padding: 3px 10px 3px 3px;
  justify-content: flex-end;
}

#answer-list {
  list-style-type: upper-alpha;
  /* list-style-position: inside; */
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.aButton {
  background-color: var(--dark);
  color: var(--highlight);
  border: 1px solid var(--darker);
  border-radius: 0 5px;
  box-shadow: inset 1px 1px 3px var(--highlight);
  text-align: left;
  padding: 5px;
  margin: 3px;
  cursor: pointer;
  box-sizing: content-box;
}

li:nth-child(even) button {
  background-color: var(--darker);
}

.aButton:hover {
  background-color: var(--bggrey);
  color: black;
}

.aButton:active {
  background-color: black;
  color: var(--highlight);
}



#footer-sec,
#footer-sec p {
  margin: 10px 10px 0 5px;
  font-size: 10px;
  text-align: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {

  .btn {
    font-size: 0.8rem;
  }
}